<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">INVENTARIO DE VACUNACIÓN</span>
  </div>
</nav>
<ul class="tabs">
  <li><a href="/list-empleados">ADMINISTRADOR</a></li>
   <!-- <li><a href="/create-datos">CLIENTE</a></li>  -->
 <li><a href="/list-datos">CLIENTE</a></li>
</ul>

<div class="tab_container">
 <div class="tab_content" id="tab1">
     <!--Content-->
 </div>
 <div class="tab_content" id="tab2">
    <!--Content-->
 </div>
</div>